/* 
    Created on : 15.11.2016, 08:42:30
    Author     : Maik Lampe <ml@easy-media.de>
    Description: Sternauto Bootsrap Fixes
*/

@font-face {
    font-family: "corpo s regular";
    src: url('//e-services.mercedes-benz.com/static/webfonts/Daimler-CS-Reg-eu.eot'); /* IE9 Compat Modes */
    src: url('//e-services.mercedes-benz.com/static/webfonts/Daimler-CS-Reg-eu.woff2') format('woff2'), /* Super Modern Browsers */
        url('//e-services.mercedes-benz.com/static/webfonts/Daimler-CS-Reg-eu.woff') format('woff') /* Pretty Modern Browsers */
}
@font-face {
    font-family: "corpo a condensed";
    src: url('//e-services.mercedes-benz.com/static/webfonts/Daimler-CAC-Reg-eu.eot'); /* IE9 Compat Modes */
    src: url('//e-services.mercedes-benz.com/static/webfonts/Daimler-CAC-Reg-eu.woff2') format('woff2'), /* Super Modern Browsers */
        url('//e-services.mercedes-benz.com/static/webfonts/Daimler-CAC-Reg-eu.woff') format('woff') /* Pretty Modern Browsers */
}
@font-face {
    font-family: "corpo s bold";
    src: url('//e-services.mercedes-benz.com/static/webfonts/Daimler-CS-Bold-eu.eot'); /* IE9 Compat Modes */
    src: url('//e-services.mercedes-benz.com/static/webfonts/Daimler-CS-Bold-eu.woff2') format('woff2'), /* Super Modern Browsers */
        url('//e-services.mercedes-benz.com/static/webfonts/Daimler-CS-Bold-eu.woff') format('woff') /* Pretty Modern Browsers */
}

body {
    padding-top: 68px;
    font-family: "corpo s regular"
}

.page-header {
    margin-top: 9px;
    font-family: "corpo s bold";
    small {
        font-family: "corpo s regular"
    }
}

.striked {
    text-decoration: line-through;
}

tr.striked {
    color: #aaa;
}
 
.panel {
    &-body {
        h1,h2,h3,h4,h5,h6 {
            font-family: "corpo a condensed"
        }
    }
    &-title {
        font-family: "corpo s bold"        
    }
}

.navbar-nav .glyphicon {
    top: 2px;
    margin-right: 8px;
}

a[href$='pdf'] {
    padding-left: 40px;
    padding-right: 8px;
    background: url("../images/mime/pdf.png") no-repeat 8px 50%;
    line-height: 32px;
    display: inline-block;    
    border: 1px solid #ddd;      
    border-radius: 4px;      
    color: #333;
    background-color: #f5f5f5;
    margin-bottom: 8px;
    text-decoration: none;      
    img {
        max-width: 100%;
        height: auto;
        margin: 8px 0;
    }     
    &:hover {
        background-color: #fff
    }     
}

.nav {
    &.nav-pills {
        .intend-1 {
            padding-left: 20px 
        }
    }
}

.product-images {
    .popup + .popup {
        margin-left: 12px;
    }
}

@media (min-width: 768px) {
    .dl-horizontal {
        dt {
            width: 70px;
        }
        dd {
            margin-left: 90px;
        }
    }
}

@media (min-width: 992px) {
    .dl-horizontal {
        dt {
            width: 80px;
        }
        dd {
            margin-left: 100px;
        }
    }
}